<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: rgb(23, 246, 242);
        }
        h1{color: red;}
        h2{color: darkred;}
        img{border: solid 5px red;
            border-radius: 5px ;
        }
    </style>
    
</head>
<body>
    {% load static %} 
    <center><h1>KITCHEN RESTAURANT</h1></center>
    <br><br>
    <center><img src="{% static "images/image.jpg" %}" alt="home" /></center>
    <center><h2><a href = "user_feedback">MENUS</a></h2></center>
    
</body>